{% extends 'social/layout.html' %}

{% block content %}

    <div id="main" class="container-fluid d-flex">
        <div class="">
            <div id="inputsocialArea" class="social-wrap2">
                <div class="d-flex">
                    <div class="col-xs">
                        <!-- Image form -->
                        <img src="{{ request.user.profile.image.url }}" alt="" class="avator">
                        <!-- Formulario -->
                    </div>

                    <!-- Formulario -->
                    <form class="col pr-0" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="">
                            <label>Nombre</label>
                            <div>
                                {{ u_form.first_name }}
                            </div>
                        </div>
                        <div class="">
                            <label for="user-name-id">Username</label>
                            <div>
                                {{ u_form.username }}
                            </div>
                        </div>
                        <div class="">
                            <label>Bio</label>
                            <div>
                                {{ p_form.bio }}
                            </div>
                        </div>
                        <div class="m-2">
                            <div>
                                {{ p_form.image }}
                            </div>
                        </div>

                        <button class="btn btn-primary">Actualizar</button>
                    </form>
                    <!-- Formulario -->
                    
                </div>
            </div>
        </div>
        <!-- End Center -->
    </div>

{% endblock content %}