{% extends 'social/layout.html' %}

{% block content %}
<body class="text-center">
    <div class="form-signin">
        <header>
            {% comment %} <img src="" alt="logo"> {% endcomment %}
            <h1>Inicia Sesión</h1>
        </header>

        <form class="form-label-group" method="post">
            {% csrf_token %}
            <div class="">
                <label for="user-name-id">Username</label>
                <div>
                    {{ form.username }}
                </div>
            </div>
            <div class="">
                <label for="password-id">Password</label>
                <div>
                    {{ form.password }}
                </div>
            </div>
            {% if form.errors %}
                <p>Username or password not correct.</p>
            {% endif %}
            <div class="m-2">
                <button class="btn btn-primary">Log in</button>
            </div>
        </form>

        <div class="footer">
            {% comment %} <a href="#">Forget Password</a> .  {% endcomment %}
            <a href="/register">Sign up</a>
        </div>

    </div>
{% endblock content %}